{{- $personal := true }}
{{- if .chezmoi.hostname | regexMatch "^port-.+$" -}}
{{-     $personal = false -}}
{{- end -}}

[merge]
    command = "nvim"
[edit]
    apply = true
[git]
    autoAdd = true
[data]
    personal = {{ $personal }}
[scriptEnv]
    IS_PERSONAL = "{{ $personal }}"
